<p id="notice"><%= notice %></p>
<p>
  <strong>Content:</strong>
  <%= @lecture.content %>
</p>
<p>
  <strong>attachment:</strong>
  <a href="<%= @lecture.attachment %>" > Download the attachment</a>
</p>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
